@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color1: #352D70;
    --color2: #68388b;
    --color3: #4285F4;
    --color4: black;
    --color5: #222020;
    --color6: white;
}

body {
    background-color: var(--color5);
}

/* Configurações da Navbar */

.img_logo_header {
    width: 50px;
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color6);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--color2);
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color6);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color4);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    details[open] {
      transform: translate(-9px, -36px);
      margin-bottom: -63px;
      text-align: center;
      padding: 0;
  }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--color2);
}

details {
  margin-top: 6px;
}

summary {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 6px;
}

details[open] {
  margin-top: 42px;
  margin-right: -45px;
  margin-left: -27.5px;
  background-color: var(--color4);
  padding: 10px;
}

div.header > .navigation_header > details > a {
  font-weight: normal;
  margin-top: 10px;
}

/*Banner*/
.fundo {
  width: 100%;
  height: 70vh;
}

.banner{
    width: 100%;
    height: 70vh;
 }

.profile{
    z-index: 900;
    background: #0f0f0f;
    margin-top: -5px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
  }
  
  /*logoempresa*/
  .logoempresa {
    width: 9%;
    border-radius: 50%;
    border: .5em solid #0f0f0f ;
    background-color: #0c0c0d;
    z-index: 1000;
    position: absolute;
    top: 72%;
    left: 9%;
  }
  /*logoempresa*/
 .nome-empresa{
   margin-top: -2%;
   margin-left: 20%;
   color: white;
  }
/*numero de seguidores*/
  .seguidores p {
    color: #ffffff;
    margin-left: 22%;
    font-size: 14px;
  }

  #select {
     color: var(--color2);
  }
 
  .biblioteca {
    color: white;
    margin-top: 5%;
    margin-left: 25%;
    transform: translateY(31%);
    width: 200px;
  }

  .biblioteca > a:hover {
    transition: 1s; 
    color: var(--color2);
  }

  .post  {
    color: white;
    margin-top: -1%;
    margin-left: 65%;
    text-decoration: none;
  }

  .post a:hover {
    transition: 1s; 
    color: var(--color2);
  }
 
 /*linha*/
  .hr1 {
    border: 0;
    border-top: 1px solid #CCC;
    margin-top: 1%;
  }

 
  a {
    text-decoration: none;
    color: var(--color6);
    padding: 10px;
}
 /*biblioteca titulo*/

 .abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  font-family: 'Alegreya Sans';
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}


/* Configurações da postagem */

.perfil {
   display: flex;
   align-items: center;
}

#postagens {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  transform: translateX(7%);
  width: 90%;
}

.postagem {
  background-color: #000000;
  color: var(--color6);
  width: 89%;
  margin: 3%;
}

.img1 {
    margin-left: 20px;
    margin-top: 2px;
}

.img2 {
    width: 89%;
    height: 62%;
    margin-left: 30px;
    border-radius: 5px;
    transform: translateY(-8%);
    margin-top: 30px;
}

.curtida {
    background-color: transparent;
    border: none;
    margin-left: 30px;
    margin-top: -10px;
}

.comentario {
    background-color: transparent;
    border: none;
}

.icone-bnt{
    color: rgb(255, 255, 255);
    width: 30px;
    zoom: 190%;
    margin-top: -100px;
}
 p{
    color: aliceblue;
 }

 .descricao{
   margin-top: 1%;
    margin-left: 3%;
   position: absolute;
  color: aliceblue;
}


