@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color1: #352D70;
    --color2: #3F3498;
    --color3: #4285F4;
    --color4: black;
    --color5: #222020;
    --color6: white;
}

body {
    background-color: #222020;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 50px;
    /*transform: translateY(28px);*/
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    width: 100%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color6);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--color2);
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color6);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color4);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    details[open] {
        transform: translate(-9px, -36px);
        margin-bottom: -63px;
        text-align: center;
        padding: 0;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--color2);
}

details {
    margin-top: 6px;
  }
  
  summary {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 6px;
  }
  
  details[open] {
    margin-top: 55px;
    margin-right: -45px;
    margin-left: -27.5px;
    background-color: var(--color4);
    padding: 10px;
  }
  
  div.header > .navigation_header > details > a {
    font-weight: normal;
    margin-top: 10px;
  }

/* Configurações das opções laterais */

#select {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 120%;
  position: absolute;
  top: 21%;
  width: 100%;
  text-align: center;
}

#select:hover {
  background-color: var(--color2);
  color: white;
  transition: 1s;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.993);
}

#opcao2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 120%;
  position: absolute;
  top: 38%;
  width: 100%;
  text-align: center;
}

#opcao2:hover {
  background-color: var(--color2);
  color: white;
  transition: 1s;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.993);
}

#opcao3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 120%;
  position: absolute;
  top: 56%;
  width: 100%;
  text-align: center;
}

#opcao3:hover {
  background-color: var(--color2);
  color: white;
  transition: 1s;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.993);
}

#icone-editar {
  display: none;
  color: white;
}

#icone-transacoes {
  display: none;
  color: white;
}

#icone-excluir {
  display: none;
  color: white;
}

/* Configurações do menu lateral */

#menulateral {
    background-color: black;
    width: 15%;
    height: 100%;
    position: fixed;
    transform: translateY(56px);
}

 
/*transaçoes
/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 0 0;
  /* Pad bottom by footer height */
  padding: 0 0 0;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0px 15px 0;
/*   background-color: #f8f9fa!important; */
}
.container .credit {
  margin: 20px 0;
}

.conteudo{
	padding-top: 10px;
}

code {
  font-size: 80%;
}

header {
	
	background-color: #333;
	height: 5em;
	color: #FFF;
}

header h1{
	margin-top:5px;
	font-size: 3em;
	display: inline-block;
	vertical-align: middle;
}

header nav a{
	margin-top:12px;
	font-size: 3em;
	display: inline-block;
	vertical-align: middle;
}

.table td{
	vertical-align: middle;
	text-align: center;
}

.table th{
	text-align: center;
}

.meio{
	margin: 0 auto;
}

table {
	width: 100%;
/* 	margin-bottom: .5em; */
	table-layout: fixed;
	border-radius: 10px;
}



.invisivel{
	display: none;
}

#tabela {
    z-index: -1;
    width: 76%;
    position: absolute;
    top: 14%;
    left: 19%;
}
