/* Navigation Variables */
html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-color: #1c1720
    
  }

.profile{
  z-index: 900;
    background: #0f0f0f;
    top: 450px;
    padding: 40px;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.ola2 {
 
  width: 8%;
  display: block;
  border-radius: 50%;
  border: .5em solid var(--bc);
  background-color: var(--bc);
  z-index: 1000;
}


.profile h1{
text-align: center;
color: #ffffff;

}

 .ola{
    width: 100%;
    height: 450px;
    position: relative;
 }
  
:root {
    --content-width: 1000px;
    --breakpoint: 799px;
    --nav-height: 70px;
    --nav-background: #0f0f0f;
    --nav-font-color: #ffffff;
    --link-hover-color: #2581DC;
    }
    
    /* Outer navigation wrapper */
    .navigation {
    height: var(--nav-height);
    background: #0f0f0f;
    z-index: 400;
    position: fixed;
    width: 100%;
    }
    
    /* Logo and branding */
    .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: var(--nav-height);
    text-transform: uppercase;
    font-size: 1.4em;
    }
    
    .brand a,
    .brand a:visited {
    color: var(--nav-font-color);
    text-decoration: none;
    }
    
    /* Container with no padding for navbar */
    .nav-container {
    max-width: var(--content-width);
    margin: 0 auto;
    
    z-index: 500;
    }
    
    /* Navigation */
    nav {
    float: right;
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    nav ul li {
    float: left;
    position: relative;
    }
    
    nav ul li a,
    nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: var(--nav-height);
    background: var(--nav-background);
    color: var(--nav-font-color);
    text-decoration: none;
    }
    
    nav ul li a:hover {
    background: var(--link-hover-color);
    color: var(--nav-font-color);
    }
    
    nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
    }
    
    /* Dropdown list */
    nav ul li ul li {
    min-width: 190px;
    }
    
    nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    }
    
    nav ul li ul li a:hover {
    background: var(--link-hover-color);
    color: var(--nav-font-color);
    }
    
    nav ul li ul li a:not(:only-child):after {
    padding-left: 30px;
    content: '';
    }
    
    /* Dropdown list binds to JS toggle event */
    .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    
    /* Mobile navigation */
    .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--nav-background);
    height: var(--nav-height);
    width: var(--nav-height);
    }
    
    @media only screen and (max-width: 798px) {
    /* Hamburger nav visible on mobile only */
    .nav-mobile {
    display: block;
    }
    
    nav {
    width: 100%;
    padding: var(--nav-height) 0 15px;
    }
    
    nav ul {
    display: none;
    }
    
    nav ul li {
    float: none;
    }
    
    nav ul li a {
    padding: 15px;
    line-height: 20px;
    }
    
    nav ul li ul li a {
    padding-left: 30px;
    }
    
    .nav-dropdown {
    position: static;
    }
    }
    
    @media screen and (min-width: var(--breakpoint)) {
    nav ul {
    display: block !important;
    }
    }
    
    #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    }